body {
    color: #444;
    background-color: #EEE;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: large;
}

.flex-container-start {
    display: flex;
    justify-content: flex-start;
}

.flex-container-end {
    display: flex;
    justify-content: flex-end;
}

.flex-container-center {
    display: flex;
    justify-content: center;
}

.flex-container-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-container-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-container-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.flex-item {
    margin: 10px;
    background-color: black;
    height: 60px;
    width: 60px;
}

.tut-img {
    width: 350px;
}